<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav class="navbar">
      <div class="container">
      <a href="#" class="logo">UNFOLLOW</a>
      </div>
    </nav>
  <div class="centralizado">
      <h1>PÁGINA NÃO ENCONTRADA...  </h1><br><a th:href="@{/listarD}">
        <button>Retornar ao início</button>
      </a>
  </div>
</body>
</html>